<div class="wrapper">
    <app-toolbar></app-toolbar>
    <mat-tab-group animationDuration="0ms">
        <mat-tab class="tabs" label="Directive NgModel">
            <app-ngmodel></app-ngmodel>
        </mat-tab>
        <mat-tab label="Interface OnChanges">
            <app-onchange></app-onchange>
        </mat-tab>
        <mat-tab label="Détection de changement"> Content 1</mat-tab>
        <mat-tab label="Template driven forms"> Content 2</mat-tab>
        <mat-tab label="Reactive forms"> Content 3</mat-tab>
    </mat-tab-group>
</div>
